.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

* {
 box-sizing: border-box;
}

html {
    font-size: 16px; 
}

body {
    background-image: url("../img/fond.png");
    background-repeat: repeat;
    color: #999999;
}

body,
h1,
h2 {
    font-family: 'Bree Serif', serif;
}

h1 {
    color: white;
}

h2,h3 {
    color:#ea1a62; /*Pink color */
}
/*UTILS*/
.marginsPlus {
    margin-bottom: 15px;
    margin-top: 15px;
}

.pink {
    background-color: #ea1a62; 
    border: none;
    box-shadow: none;
    outline: none;

}

.pink:hover {
    background-color: #31708f; 
    border: none;
    box-shadow: none;
    outline: none;

}

/*UTILS END*/
.navigation {
    padding: 20px;
}
img[src="img/logo.svg"] {
    width: 50px;
    display: inline-block;
    transition: all 0.5s ease-in;
}


div.navigation > div > div > a {
    color: #999999;
    padding-left: 20px;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.5s 0.7s ease-in-out;
}

div.col-sm-6:hover a.hover {
    transform: translate(15px);
    text-decoration: none;
    color: #ea1a62;
 
}

div.col-sm-6:hover img[src="img/logo.svg"] {
    transform: scale(1.2) rotate(90deg);

}

ul.nav.navbar-nav>li:hover{
  color: #ea1a62;
  transform: translate(0px, 18px);
  
}
ul.nav.navbar-nav>li {
  transition: all 0.5s ease-in-out;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-nav>li>a{
    padding-top: 0px;
    font-size: 18px;
}
.navbar-nav>li>i{
    padding-top: 0px;
    font-size: 18px;
}


#collapse-1 > ul > li > a:hover {
    color: #777;
}

.photo-container {
  width: 100%;
  // height: 1200px;
  // padding: 20px 20px;
  padding-top: 62.5%;
  background: url(../img/bg_header.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}


.content-container {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
}



span.fa-stack{
    font-size: 50px;
    opacity: 0.6;
}


.input-group .input-group-addon {
    background-color:transparent;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}
.input-group-addon img {
    height: 30px; 
}

.input-group .form-control {
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px ;
    border-left: none;
    background-color: transparent;
    box-shadow: none;
    height: 52px;   
}
.input-group .form-control:focus {
   box-shadow: none;
   border: 1px solid #ccc;
   border-left: none;
}
textarea.form-control {
    background-color: transparent;
    box-shadow: none;
    border-radius: 50px;
}
textarea.form-control:focus {
    box-shadow: none;
   border: 1px solid #ccc;
   outline: none;
}
.input-group-addon.big img {
    height: 45px; 
}
.form-control.message {
    height: 67px;
}

/*MEDIA QUERIES */

@media (max-width: 768px) {
  .content-container {
    position: relative;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }
    .photo-container {
    padding: 40px;
  }
  div#collapse-1.collapse.in {
    position: absolute;
    z-index: 1000;
    background-color: #f9fafb;
    right: 0px;
    top: 90px;
    border-top: 0;
}
div#collapse-1.collapsing {
    position: absolute;
    z-index: 1000;
    background-color: #f9fafb;
    right: 0px;
    top: 90px;
    border-top: 0;

}

.navbar-default .navbar-nav>li>a {
  font-size: 17px;
}
}
/*ANIMATION*/
